# to update the other laptop when pushing config changes
push() {
  local loc_ip=
  case "$(hostname)" in
  unforswearing-b.local) loc_ip="100.118.230.76" ;;
  unforswearing-original.local) loc_ip="100.95.96.84" ;;
  esac
  git push &&
    ssh ${loc_ip} "cd $HOME/zsh-config && git pull && exec zsh"
}

find $(pwd) -name '*.DS_Store' -type f -ls -delete

export_function push
