# to update the other laptop when pushing config changes
push() {
  local loc_ip=
  case "$1" in
  o) loc_ip="100.118.230.76" ;;
  b) loc_ip="100.95.96.84" ;;
  esac
  git push &&
    ssh ${loc_ip} "cd $HOME/zsh-config && git pull"
}

find $(pwd) -name '*.DS_Store' -type f -ls -delete

export_function push
